# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
# Ansible
xanmanning.k3s*
geerlingguy.*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
.terraform.lock.hcl
